@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,500&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #010001;
    overflow-x: hidden;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}



.header_home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header_home .logo img {
    width: 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    font-size: 2em;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(image/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .toggle.active {
    background: url(image/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
}

header .toggle.active::before {
    content: "Close";
}

header .toggle::before {
    content: "Menu";
    position: absolute;
    right: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background: #ffffff;
    color: #111;
}

.header_home video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 11;
    backdrop-filter: blur(15px);
    box-shadow: 20px 0 30px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    transition-delay: 1s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.header_home.active .glass {
    width: 100%;
    backdrop-filter: blur(20px);
    transition-delay: 0s;
}

.header_home .content {
    position: relative;
    z-index: 12;
    text-align: center;
    transition: 0.5s;
    transition-delay: 1s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.header_home.active .content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition-delay: 0s;
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.header_home .content h2 {
    position: relative;
    color: #ffffff;
    font-size: 10vw;
    line-height: 0.55em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-family: "Satisfy", cursive;
}

.header_home .content h2 span {
    font-size: 0.2em;
    font-weight: 300;
    letter-spacing: 5px;
    background: #ffffff;
    color: #111;
    padding: 0 10px;
    text-transform: uppercase;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.header_home .sci {
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}

.header_home .sci li {
    list-style: none;
    margin: 5px;
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid gray;
    line-height: 45px;
    text-align: center;
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.header_home .sci li:hover {
    background: #ffffff;
    color: #000000;
    transform: translate3d(0, -15%, 0);
    -webkit-transform: translate3d(0, -15%, 0);
    -moz-transform: translate3d(0, -15%, 0);
    -ms-transform: translate3d(0, -15%, 0);
    -o-transform: translate3d(0, -15%, 0);
}

.header_home .sci li:hover a {
    color: #000000;
}

.header_home .sci li a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.header_home.active .sci li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
}

.header_home .navigation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.header_home .navigation li {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(200px);
    transition-delay: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
}

.header_home.active .navigation li {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

.header_home .navigation li a {
    text-decoration: none;
    color: #111;
    font-size: 1.5em;
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
    background: #ffffff;
    padding: 4px 10px;
    display: inline-block;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.header_home .navigation li a:hover {
    color: #ffffff;
    background: #111111;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 14x !important;
    height: 4px;
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(37, 38, 82);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease 0s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.carousel-indicators .active {
    width: 30px;
    height: 4px;
    background-color: rgb(105, 106, 148);
}

/* ==================================about section =================================*/
.about_wrap {
    padding: 50px 0;
    background: linear-gradient(#000000c3, #000000c5), url(image/bg01.gif);
}

.about {
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about_title {
    margin: 50px 0;
}

.about .about_title h1 {
    color: #ffffff;
    font-size: 3.5em;
    letter-spacing: 2px;
    font-family: "Satisfy", cursive;
}

/* =========================about img 1 */
.about .about_img {
    height: 416px;
    opacity: 1;
    padding: 20px;
    background: #8f93a0a1;
}

.about .about_img img {
    width: 100%;
}

.about .about_content {
    padding: 100px 40px;
    background: #14253e;
    color: #ffffff;
    margin-left: -100px;
}

/* =========================about img 2 */
.about .about_img2 {
    height: 416px;
    padding: 20px;
    background: #8f93a0a1;
    z-index: -1;
}

.about .about_img2 img {
    width: 100%;
}

.about .about_content2 {
    padding: 100px 50px;
    background: #14253e;
    color: #ffffff;
    margin-right: -100px;
    z-index: 2;
}

/*====================================== independence history */

.independence {
    padding: 80px 8px;
    background: #14253e;
    background: linear-gradient(#25405fdc, #212c52f6), url(image/Bangladesh\ Flag.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    padding-top: 100px;
    clip-path: polygon(99% 15%, 100% 35%, 100% 100%, 0 86%, 0 0);
}

.inContainer {
    background: #b6b9c2;
    padding: 40px;
    transform: rotate(3deg);
    box-shadow: 10px 30px 40px rgba(139, 136, 136, 0.2);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}

.independence .history_content {
    color: #000000;
    padding: 10px;
}

.independence .history_video {
    width: 100%;
}

.independence .history_video video {
    width: 100%;
    border: none;
}

/*====================================== Our Wining Battle */
.winBattle {
    padding-top: 100px;
    padding: 0 20px;
    padding-bottom: 100px;
    background: linear-gradient(#070a0e, #101113d3), url(image/2222.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.battle_win_title {
    padding: 50px 0;
}

.battle_win_title h1 {
    color: #ffffff;
    font-size: 3.5em;
    letter-spacing: 2px;
    font-family: "Satisfy", cursive;
}

.winBattle .win_battle_content {
    padding: 20px;
    padding-right: 100px;
    background: transparent;
    color: #ffffff;
}

.winBattle .win_battle_content h3 {
    color: #ffffff;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Satisfy", cursive;
}

.winBattle .win_battle_content p {
    text-align: justify;
}

.winBattle .win_battle_img {
    width: 100%;
    height: 80vh;
    margin-top: 60px;
}

.winBattle .win_battle_img img {
    width: 100%;
    height: 100%;
}

/*====================================== Our Staf */

.staf_wrap {
    background: #203050;
    margin-top: -100px;
    clip-path: polygon(100% 0, 100% 35%, 100% 90%, 0 100%, 0% 11%);
    padding: 90px 0;
}
.staf_wrap .staf_box {
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
}

.staf_wrap .staf_box img {
    width: 100%;
    height: 270px;
}

.staf_wrap .staf_box .box {
    border: none;
    padding: 10px;
    outline: none;
    background: #ffffff;
    border-top: 4px solid #203050;
    border-right: 4px solid #203050;
    box-shadow: 5px 90px 20px rgba(0, 0, 0, 0.3);
}

.staf_wrap .staf_box .box .box-content {
    border: none;
    padding: 20px;
    background: #203050;
    box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.6);
}

.staf_wrap .staf_box .box h3 {
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    font-family: "Satisfy", cursive;
}

.staf_wrap .staf_box .box h5 {
    font-size: 17px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
}

.staf_wrap .staf_box .box p {
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;
}

/*====================================== Our Wining Battle */

.heroic {
    background: linear-gradient(#070a0e, #101113d3), url(image/battlebg.jpg);
    clip-path: polygon(96% 7%, 100% 0, 100% 35%, 100% 100%, 94% 91%, 5% 91%, 0 100%, 0 0, 5% 7%);
    padding: 90px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.hero_title_img {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_title_img_footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_title_img_footer img {
    margin-bottom: 30px;
}

.hero_title_img img {
    margin-top: 30px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 380px;
    height: 400px;
    position: relative;
}
.swiper-slide .content {
    position: absolute;
    left: 0%;
    bottom: 0px;
    padding: 15px;
    width: 100%;
    background: #000000;
}
.swiper-slide .content h3 {
    text-align: center;
    color: #b6b9c2;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
}

.swiper-pagination-bullet {
    background: #ffffff;
    cursor: pointer;
}

/* ===================speece=====================================_seven==================================_=march ===============*/

.speece_seven_march {
    background: url(image/speece.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    padding-bottom: 180px;
    clip-path: polygon(100% 13%, 100% 35%, 100% 100%, 0 87%, 0 0);
}

.speece_seven_march .speece_content p {
    color: #ffffff;
}

.speece_seven_march .speece_image {
    width: 100%;
    height: 90vh;
}

.speece_seven_march .speece_image img {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

/* ==================================footer section =================================*/

.footer {
    margin-top: -100px;
    background: #000000;
    padding: 70px 0;
    padding-top: 150px;
    clip-path: polygon(100% 20%, 100% 35%, 100% 100%, 93% 100%, 10% 100%, 0 100%, 0 0);
}

.footer .footer_logo img {
    width: 100%;
}

.footer .footer_logo p {
    margin-top: 15px;
    color: gray;
}

.footer ul li {
    padding-left: 15px;
    list-style: none;
}

.footer .force_list h3 {
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 20px;
    padding-left: 15px;
}

.footer .force_list a {
    text-decoration: none;
    color: gray;
    text-align: left;
    margin-top: 15px;
    letter-spacing: 1.5px;
}

.footer .force_list ul {
    margin-top: 15px;
}

.footer .force_list ul li {
    margin-top: 10px;
}

.footer .force_list p {
    color: gray;
}

.joyn_force .fa {
    border: 1px solid gray;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.joyn_force .fa:hover {
    background: #b6b9c2;
    color: #000000;
}

.footerCopyRight {
    border-top: 1px solid gray;
    background: #000000;
    padding: 30px 0;
}
.footerCopyRight p {
    text-align: center;
    margin-bottom: 0;
    color: #b6b9c2;
}

@media (max-width: 1400px) {
    .hero_title_img {
        display: none;
    }
    .hero_title_img_footer {
        display: none;
    }
}

@media (max-width: 990px) {
    header {
        padding: 40px 42px;
    }

    .about .about_content {
        margin-left: 0px;
    }

    .about .about_content2 {
        margin-right: 0px;
    }

    .winBattle .win_battle_content {
        padding: 20px;
        padding-right: 0px;
    }
    .hero_title_img {
        display: none;
    }
    .hero_title_img_footer {
        display: none;
    }
    .speece_seven_march .speece_image img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 460px) {
    .header_home .sci {
        position: absolute;
        bottom: 40px;
        right: 20px;
        display: flex;
        z-index: 100;
    }
    .speece_seven_march .speece_image img {
        width: 100%;
        height: 100%;
        margin-top: 20px;
        padding-bottom: 100px;
    }
    .staf_wrap .staf_box {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .inContainer {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}

.staf_wrap {
    padding: 177px 0;
}


.speece_seven_march {
    padding: 250px 15px;
    padding-bottom: 180px;
}

.footer {
    margin-top: -100px;
    background: #000000;
    padding: 70px 26px;
    padding-top: 190px;
}
}
